# Virtual environments
.env/
.venv/
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# dependencies
node_modules/
.pnpm/
package-lock.json
yarn.lock
pnpm-lock.yaml


.vite/